.parent{
    border: 2px solid red;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.child{
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
}